<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Required for scripts to work. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Required for successDiv fadeout -->

    <title>Profile</title>
</head>

<!-- Livereload !production -->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

<body class="profileBody" onload="displayProfilePicture()">


    <!-- Page content -->
    <div class="container-fluid p-0">
        <div class="row-no-gutters" style="width: 100%;"> <!-- dirty fix for row overlapping -->

                <!-- Settings form, Profile Picture, Dark/Light mode, ... -->
                <form action='/api/v1/profiles/profilePicture/change' method="post" enctype="multipart/form-data">
                    <div class="col-lg-12 center text-center">

                        <!-- The current profile picture, picture gets assigned though frontend JavaScript -->
                        <label for="fileUpload" class="center">

                            <--img src="" id="profilePictureLarge" class="profilePictureLarge"/-->
                        </label>

                        <p>Click image to change Profile Picture</p>
                        <p>Tap image to change Profile Picture</p>

                        <input type='file' name='fileUpload' id='fileUpload' style="display: none;" />

                    </div>


                    <!-- Button which submits the form.-->
                    <div class="col-lg-12 center text-center">
                        <button class="btn applySettingsButton roundCorners gradient330Deg" type="submit">Apply Changes</button>
                    </div>
                </form>

        </div>
    </div>

</body>

<!-- Scripts -->
<script type="text/javascript">

    // Display the selected image.
    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {

                $('#profilePictureLarge').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Trigger image display on image-select.
    $("#fileUpload").change(function(){

        readURL(this);
    });

    // Lets the Success list fade out after 7 seconds.   
    $('#successList').delay(6000).fadeOut(1000); 

</script>

</html>