
.profilePictureLarge {
    width: 210px;
    height: 210px;
    top: -980px;
    margin: 4%0%3%0%;
    border-radius: 50%;
    border:10px solid white;
    object-fit: cover;
    z-index: 3;
    position: relative;
}

.skilllogos{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-left: 8px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;   
}

.skill1 {
    margin-left: -150px;
    margin-right: 220px;
    margin-bottom: 15px;
    z-index: 4;
    text-align: right;
    position: relative;
    transition: all ease-in-out .4s;
}

.logo {
    transition:ease-out .3s;
}


.logo:hover{
    opacity: 0;
 
}

.skill1:hover, .skill2:hover, .skill3:hover, .skill1:focus, .skill2:focus, .skill3:focus {
    transform: scale(1.1);
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                0px 3px 18px rgba(0,0,0,0.08);
    background:#ffffff;
    
    outline:none;
}
.skill2 {
    margin-left: -200px;
    margin-right: 250px;
    margin-bottom: 20px;
    z-index: 4;
    position: relative;
    text-align: right;
    transition: all ease-in-out .4s;
}

.skill3 {
    margin-left: -220px;
    margin-right: 260px;
    margin-bottom: 20px;
    z-index: 4;
    text-align: right;
    position: relative;
    transition: all ease-in-out .4s;
}

.profileWallpaper {
    width: 100vw;
    height: 700px;
    top: -450px;
    margin: 0;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
    position: relative;
}

.profilecontainer {
    position: relative;
    top: -950px;
    z-index: 1;
}

.profilecontainer {
    width: 70vw;
    margin: 0 auto;
}
